h1{
    color: #ff1b68;
    font-family: sans-serif;
}
code{
    color: red;
    font-family: monospace;
}
ol{
    font-family: sans-serif;
}
.second{
    color: blueviolet;
}

/* 是ol child，且前面有一個li，因此第一個不會作用 */
ol > li + li{
    color: aquamarine;
}

/* 找出ol中的所有li */
ol li{
    background-color: beige;
}